{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <div class="signup-form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Signup Now</button>
            </form>
        </div>
    </main>
{% endblock content %}