<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/app.css' %}">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->

<html lang="en">

<nav class="nav justify-content-center ">
    <div class="container-fluid">
        {% if user.is_authenticated %}
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'list_projects' %}">Subjects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'show_my_tasks' %}">Topics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a> 
            </li>
            
              <li class="nav-item">
                  <a class="nav-link" <a href="{% url 'signup' %}">Signup</a> 
              </li>
          </ul>
          {% endif %}
    </div>
  </nav>
</header>
{% block content %}
{% endblock content %}
</body>

</html>
