{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="project-list">
            <h1>Subjects</h1>
            <a href="{% url 'create_project' %}">add subject</a>
            {% if project_list|length == 0 %}
                <p>You do not have any subjects</p>
            {% else %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number of topics</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in project_list %}
                                <tr>
                                    <td>
                                        <a href="{% url 'show_project' project.id %}">{{project.name}}
                                        </td>
                                        <td>{{ project.tasks.all|length }}</td>
                                    </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

        </main>
{% endblock content %}